# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include essential files in archive.
/**          export-ignore
/addons      !export-ignore
/addons/**   !export-ignore
/examples    !export-ignore
/examples/** !export-ignore
